<!DOCTYPE html>
<html>
    <head>
        <title>{{ site.name }}: {{ page.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
              integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ site.base }}/css/group.css">
    </head>
    <body>
        <div class="container">
            <!-- This is a bit nasty, but it basically says be a column first, and on larger screens be a spaced out row -->
            <div class="header d-flex
                        flex-column
                        flex-md-row justify-content-md-between">
                <a href="{{ site.base }}/" class="" id="logo">
                    <img src="{{ site.base }}/img/logo-new.svg"
                         alt="{{ site.name }}"
                         class="logo-img">
                </a>
                <ul class="nav nav-pills justify-content-center">

                    {% assign shorturl = page.url | replace:'.html','' | replace:'index','' %}
                    {% for item in site.navigation %}

                        {% assign itemshorturl = item.link | replace:'.html','' %}

                        {% assign maybe-active = '' %}
                        {% if item.title == 'Research' and page.layout == 'project' %}
                            {% assign maybe-active = 'active' %}
                        {% endif %}
                        {% if itemshorturl == shorturl or is-research %}
                            {% assign maybe-active = 'active' %}
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link {{ maybe-active }}"
                               href="{{ site.base }}{{ item.link }}">
                                {{ item.title }}
                            </a>
                        </li>

                    {% endfor %}

                </ul>
            </div>

            {% if page.image %}
                <img src="{{ page.image }}"
                     alt="{{ page.title }}"
                     style="max-width: 600px"
                     class="img-fluid mx-auto d-block mb-4"/>
            {% endif %}

            {% if page.notitle != true %}
                <h1>{{ page.title }}</h1>
            {% endif %}

            {{ content }}

            <div class="footer">
                <p>
                    <a href="https://www.ln.edu.hk/sis">跨学科学院 School of Interdisciplinary Studies</a>
                    -
                    <a href="https://www.ln.edu.hk/chs">岭南大学 </a>
                    <a href="https://www.ln.edu.hk/"> Lingnan University</a>
                    -
                    <a href = "_">JARVIS</a>
                </p>


            </div>

        </div> <!-- /container -->

        <!-- Support retina images. -->
        <script type="text/javascript"
                src="{{ site.base }}/js/srcset-polyfill.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
                integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
                integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
                crossorigin="anonymous"></script>
    </body>
</html>
